.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  margin: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}

.button {
  margin: 5px;
}

.tooltips {
  margin: 20px;
}

.primary {
  --backgroundColor: #007bff;
  --borderColor: #007bff;
  --color: #fff;
  --padding: .375rem .75rem;
  --borderRadius: .25rem;
}


.tooltips__primary {
  --backgroundColor: #007bff;
  --borderColor: #007bff;
  --color: #fff;
  --padding: .375rem .75rem;
  --borderRadius: .25rem;
}
